<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="logo-widget footer-widget">
                        <figure class="logo-box"><a href="#"><img src="../../../assets/iconizer-thrive.ico" alt=""></a>
                        </figure>
                        <div class="text">
                            <p>Discover the perfect match for your game at Thrive sports.
                                We connect players with exceptional sports arenas and grounds, making booking
                                effortless.
                                Venue owners can showcase their spaces to a wider audience, optimizing usage and
                                revenue.
                                Elevate your sports experience with us – where passion meets convenience.
                                Join the revolution in sports venue booking today.</p>
                        </div>

                    </div>
                </div>
               
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="logo-widget footer-widget">
                        <div class="footer-title">Why Thrive Sports?</div>
                        <div class="text">
                            <br><br><br><p> Thrive Sports offers seamless arena booking for players and lucrative venue hosting for
                                owners. With a diverse range of premium spaces, players find their ideal match, while
                                venue
                                owners tap into a larger customer base. The platform's responsive design ensures an
                                effortless experience, fostering a dynamic sports community. Thrive Sports unites sports
                                enthusiasts, elevating the game for players, owners, and administrators alike.
                                Experience
                                the future of sports venue interaction with Thrive Sports.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                    <div class="contact-widget footer-widget">
                        <div class="footer-title">Contact Us</div>
                        <div class="text">
                            <p>Tower 2, E-City Software Park,Electronic City, Bengaluru</p>
                            <p>+91 9973305544</p>
                            <p>thrivesportsarena@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 column">
                <div class="copyright"><a href="#">Thrive sports arena pvt ltd</a> &copy; 2023 All Right Reserved</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 column">
                <ul class="footer-nav">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>