<div *ngIf="books">
    <mat-tab-group>
        <mat-tab label="PREVIOUS BOOKINGS">
            <ng-template matTabContent>
                <ul class="booking-list">
                    <li *ngFor="let book of getPreviousBookings();let i=index;" class="previous">
                        <div className="flex-left">
                            <h2>Booking ID: {{ book.bookingId }}</h2>
                            <p>Slot ID: {{ book.slotId }}</p>

                            <div *ngIf="grounds[i]">
                                <ng-container *ngIf="grounds[i].groundId === book.groundId">
                                    <p>Ground Name: {{ grounds[i].groundName }}</p>
                                    <p>Ground Address: {{ grounds[i].address.streetName + ', ' + grounds[i].address.city + ',
                                        ' + grounds[i].address.state + ', ' + grounds[i].address.country }}</p>
                                </ng-container>
                            </div>

                            <p>Booking Date: {{ book.slotBookingDate | date:'yyyy-MM-dd'}}</p>
                            <p>Booking Status: {{ book.bookingStatus }}</p>
                            <p>Player Emaild ID: {{ book.playerEmailId }}</p>
                            <p>Owner Email ID: {{ book.ownerEmailId}}</p>
                            <p>Start Time: {{ book.startTime }}</p>
                            <p>Ending Time: {{ book.endTime }}</p>
                            <p>Price Per Hour: {{ book.pricePerHour }}</p>
                        </div>

                        <div *ngIf="grounds" className="flex-right">
                            <img  [src]="grounds[i].groundImageUrl">
                        </div>

                    </li>
                </ul>
            </ng-template>
        </mat-tab>


        <mat-tab label="UPCOMING BOOKINGS">
            <ng-template matTabContent>
                <ul class="booking-list">
                    <li *ngFor="let book of getUpcomingBookings();let i=index" class="upcoming">
                        <div className="flex-left">
                            <h2>Booking ID: {{ book.bookingId }}</h2>
                            <p>Slot ID: {{book.slotId }}</p>

                            <div *ngIf="grounds">
                                <ng-container *ngIf="grounds[i].groundId === book.groundId">
                                    <p>Ground Name: {{ grounds[i].groundName }}</p>
                                    <p>Ground Address: {{ grounds[i].address.streetName + ', ' + grounds[i].address.city + ',
                                        ' + grounds[i].address.state + ', ' + grounds[i].address.country }}</p>
                                </ng-container>
                            </div>

                            <p>Booking Date: {{ book.slotBookingDate | date:'yyyy-MM-dd' }}</p>
                            <p>Booking Status: {{ book.bookingStatus }}</p>
                            <p>Player Emaild ID: {{ book.playerEmailId }}</p>
                            <p>Owner Email ID: {{book.ownerEmailId}}</p>
                            <p>Start Time: {{ book.startTime }}</p>
                            <p>Ending Time: {{ book.endTime }}</p>
                            <p>Price Per Hour: {{ book.pricePerHour }}</p>
                        </div>

                        <!-- <div className="flex-right">
                            <img height="200px" width="200px" src="grounds[i].groundImageUrl">
                        </div> -->

                    </li>
                </ul>
            </ng-template>
        </mat-tab>

    </mat-tab-group>

</div>
