<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
<div>
            <section class="backimg">
            <div class="container">
                  <mat-card class="mainCard">
                        <h1 class="card_title">Welcome to Thrive Sports Arena</h1>
                                <p class="header_desc">Book Your Favorite Sports Ground Online</p>
                                <a class="getbutton" href="/grounds">Get Started</a>
                      </mat-card>
                </div>
          </section>
    <section style="display: flex;flex-direction: column;
    background: linear-gradient(rgb(248, 255, 243,0.6),rgb(248, 255, 243,0.6)), url('../../../assets/sport4.jpeg');
    background-repeat: no-repeat;background-size: cover;
    align-items: center;">
        <h1 style="margin-top: 40px;font-size:xx-large;color: #449e48;">Unleash Your Passion: Explore Our Diverse Sports
            Grounds</h1>
        <div
            style="display: grid;justify-content: space-around;width: 100%;grid-template-columns:25% 25%;gap:40px 20px;margin-bottom: 100px;margin-top: 100px;">
            <mat-card>
                <img mat-card-image src="../../../assets/Football.jpg">
                <mat-card-header>
                    <mat-card-title>Football</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-justify:distribute-all-lines;">
                        Elevate your game at our premier football ground. Immerse yourself in top-tier facilities,
                        perfect
                        your skills on pristine turf, and experience the thrill of the beautiful game like never before.
                        Unite your passion for football with an unforgettable arena for players of all levels. Join us
                        and
                        embrace the spirit of the sport at our exceptional venue.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <img mat-card-image src="../../../assets/tennis.jpg">
                <mat-card-header>
                    <mat-card-title>Tennis</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Serve up excitement at our top-notch tennis facility. Perfect your game on pristine courts and enjoy
                    unparalleled tennis experiences, whether you're a beginner or a seasoned pro. Join us in embracing
                    the thrill of tennis at our exceptional venue.
                </mat-card-content>
            </mat-card>
            <mat-card>
                <img mat-card-image src="../../../assets/badminton.webp">
                <mat-card-header>
                    <mat-card-title>Badminton</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Discover the perfect badminton destination at our premier facility. With pristine courts and a
                    vibrant atmosphere, it's where your badminton journey soars to new heights. Join us to experience
                    the thrill of the game in top-notch surroundings.
                </mat-card-content>
            </mat-card>
            <mat-card>
                <img mat-card-image src="../../../assets/Cricket.jpg">
                <mat-card-header>
                    <mat-card-title>Cricket</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Step into the cricketing excellence of our premier ground. With top-quality pitches and unmatched
                    facilities, it's where your cricketing aspirations find their home. Join us to revel in the
                    cricketing spirit and create unforgettable moments on and off the field.
                </mat-card-content>
            </mat-card>
        </div>
    </section>
</div>