.navbar-inverse {
    background-color: #57CC99;
    border-color: #12CDD4;
    margin-left: 0.3rem;
  }
  .navbar-brand{
    width: 9rem;
    height: 100%; 
    

  }
  .navbar-nav li a {
    margin-left: 2rem;
    color: #1A1A1A;
    font-size: 2.3rem;
    margin-top: 0.2rem;
    font-family:'Oswald', sans-serif;
  }
  .navbar-nav  li  a:hover {
    
    background-color: #080808;
    color: #fff;
  }

  .navbar-right{
    margin-right: 2.5rem;
  }

  .buttons-container{
    margin: 10px;
    align-content: center;
    display: flex;
    flex-direction: row;
  }