.navbar-inverse {
    background-color: #449e48;
    /* border-color: #12CDD4; */
    border:0px;
    border-radius: 0px;
    /* margin-left: 0.3rem; */
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 60px;
  }
  .navbar-brand{
    width: 9rem;
    height: 100%; 
  }
  .navbar-nav li a {
    margin-left: 2rem;
    color: #ffff;
    font-size: 2.3rem;
    margin-top: 0.2rem;
    font-family:'Oswald', sans-serif;
  }
  .navbar-nav  li  a:hover {
    
    /* background-color: #c6dbb3; */
    color:  #2fb201;
    background-color: #ffff;
    border-radius: 10px;
  }

  .navbar-right{
    margin-right: 2.5rem;
  }

  .buttons-container{
    margin: 10px;
    align-content: center;
    display: flex;
    flex-direction: row;
  }

  .logout-thrive a:hover{
    color:  #ffffff;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
  }