<div class="container">
  <mat-card style="width: 500px;height: fit-content;align-self: center;margin-top: 20px;">
    <form [formGroup]="slots" (ngSubmit)="savingslot()" class="thrive-form-container">
      <h1 class="heading">ENTER SLOT DETAILS</h1>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Ground Name: </mat-label>
        <mat-select formControlName="groundName">
          <mat-option *ngFor="let g of grounds" [value]="g.groundName">{{g.groundName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="thrive-form-row">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Players Allowed:</mat-label>
          <input matInput type="number" placeholder="No of players allowed" formControlName="noOfPlayersAllowed">
          <mat-error
            *ngIf="noOfPlayersAllowed && noOfPlayersAllowed.invalid && (noOfPlayersAllowed.touched || noOfPlayersAllowed.dirty)">
            Empty/Invalid Field
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label for="slotDate">Slot Date: </mat-label>
          <input matInput formControlName="slotDate" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error class="error" *ngIf="slotDate && slotDate.invalid && slotDate.touched">*Empty / Invalid Field
          </mat-error>
        </mat-form-field>
      </div>

      <div class="thrive-form-row">
        <div style="display: flex;flex-direction: column;width: 100%;">
          <mat-label>Start Time:</mat-label>
          <input style="width: 100%;" type="time" formControlName="startTime">
          <mat-error *ngIf="startTime && startTime.invalid && startTime.touched ">*Empty / Invalid Field</mat-error>
        </div>
        <div style="display: flex;flex-direction: column;width: 100%;">
          <mat-label>End Time:</mat-label>
          <input style="width: 100%;" matInput type="time" formControlName="endingTime">
          <mat-error *ngIf="endingTime && endingTime.invalid && endingTime.touched ">*Empty / Invalid
            Field</mat-error>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Price/hour:</mat-label>
        <input matInput type="number" placeholder="Price Per Hour" formControlName="hourlyPrice">
        <mat-error *ngIf="hourlyPrice && hourlyPrice.invalid && hourlyPrice.touched ">*Empty / Invalid
          Field</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="groundCondition">Ground Condition:</mat-label>
        <textarea matInput type="text" placeholder="Ground condition" formControlName="groundCondition"></textarea>
        <mat-error
          *ngIf="groundCondition && groundCondition.invalid && (groundCondition.touched || groundCondition.dirty)">
          *Empty
          /
          Invalid Field</mat-error>
      </mat-form-field>
      <button mat-button class="thrive-submit-button" style="color: white;margin-top: 10px;">Save</button>
      <!-- <mat-spinner  [diameter]="50" style="align-self: center;"></mat-spinner> -->
    </form>
  </mat-card>
</div>